div {
  /* border: 1px solid; */
}

div {
  padding: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 5px;
}

.row {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}

.row > * {
  font-size: 1rem;
  display: inline-block;
  overflow: hidden;
  white-space: normal;
  vertical-align: top;
  height: 100%;
}

button,
input,
select,
option,
textarea,
html {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #234;
}

body {
  background: ghostwhite;
}

.wrapper {
  min-width: 420px;
  max-width: 1280px;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 0 25px 0 #2345;
  margin: 0 auto;
  height: 96vh;
  overflow-y: auto;
  position: fixed;
  top: 2vh;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  background: white;
}

button {
  padding: 5px 25px;
}

select,
input[type='number'] {
  padding: 5px;
  outline: none;
}

.wrap-input-text {
  padding: 5px;
}

.wrap-input-text > input {
  width: 100%;
}

.main > .top > div {
  width: calc(50% - 10px);
  border-radius: 15px;
  margin: 5px;
}

.container-income-append {
  background: hsl(120, 33%, 85%);
}

.container-outcome-append {
  background: hsl(0, 33%, 85%);
}

.badge-income {
  display: inline-block;
  border: 4px solid forestgreen;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #2345;
  cursor: default;
  margin: 5px;
  font-size: 14px;
  background-color: #eee6e6;
}
.badge-expense {
  display: inline-block;
  border: 4px solid firebrick;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #2345;
  cursor: default;
  margin: 5px;
  font-size: 14px;
}

.badge-income > i {
  padding: 5px;
}
.badge-expense > i {
  padding: 5px;
}

input[type='button'] {
  cursor: pointer;
  font-size: 14px;
  border: 0;
}

.container-income-categories-list .badge {
  background: hsl(120, 33%, 85%);
  box-shadow: 0 0 10px 0 hsl(120, 33%, 85%);
  border: 1px solid hsl(120, 43%, 75%);
}

.container-expense-categories-list .badge {
  background: hsl(0, 33%, 85%);
  box-shadow: 0 0 10px 0 hsl(0, 33%, 85%);
  border: 1px solid hsl(0, 43%, 75%);
}
#btn-delete-expense {
  border-radius: 5px;
  font-size: 16px;
  color: firebrick;
}
#btn-delete-income {
  border-radius: 5px;
  font-size: 16px;
  color: firebrick;
}

.balance {
  position: absolute;
  right: 15px;
  top: 15px;
}

.header {
  position: relative;
}

.income {
  color: forestgreen;
}

.expense {
  color: lightcoral;
}
.zero {
  color: #234;
  text-decoration: dashed forestgreen;
}

.footer {
  margin-top: 100px;
  text-align: center;
}
